# Virtual Environment
.venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# macOS
.DS_Store

# VS Code
.vscode/

# Environment variables
.env

# Test cache
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Logs
*.log